<div class="mainLogo"><span>로고 및 회사명</span></div>
<ul class="mainNav">
  <li><a href="/main">Home</a></li>
  <li><a href="/contract">Contract</a></li>
  <li><a href="/contract/company">Contract list</a></li>
  <li><a href="/payment">Payment</a></li>
  <li>About Us</li>
  <li>Contact Us</li>
  <li id="welcome">환영합니다. 원도급님.</li>
</ul>
